  h1 {
    color: darkorange;
    background-color: darkgreen;
    font-size: 80px;
    text-align: center;
  }

  h3 {
    color: darkorange;
    text-align: center;
  }
  
  a {
    color: darkorange;
    text-decoration: overline;
  }
  
  img {
    width : 100%;
  }
  
  p {
    text-align: center;
    line-height: 2;
    color: darkgreen;
  }